{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Личный кабинет
{% endblock title %}
{% block content %}
<h1>Личный кабинет: {{ user.username }}</h1>
<div class="container">
    <div>
        <p>Получать новости о нас</p>
        {% if user.about_sub %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="about_unsub" value="{{ user.pk }}"/>
            <input type="submit" value="Отписаться">
        </form>
        {% else %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="about_sub" value="{{ user.pk }}"/>
            <input type="submit" value="Подписаться">
        </form>
        {% endif %}
    </div>
    <div>
        <p>Уведомления об откликах:</p>
        {% if user.users_comments %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="comment_notif_unsub" value="{{ user.pk }}"/>
            <input type="submit" value="Не получать">
        </form>
        {% else %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="comment_notif_sub" value="{{ user.pk }}"/>
            <input type="submit" value="Получать">
        </form>
        {% endif %}
    </div>
    {% if user.is_staff %}
    <div>
        <a href="#">Новостная рассылка</a>
    </div>
    {% endif %}
</div>
<div>
    <form action="{% url 'Logout' %}" method="post" >
        {% csrf_token %}
        <input type="submit" value="Выход">
    </form>
</div>
<div>
    <p>Комментарии</p>
</div>
<div>
    {% for post in posts %}
        {% if post.pk|is_comments_exist %}
        {{ post.title }}
            {% for comment in comments %}
                {% if comment.post == post and not comment.is_confirmed %}
                    <div>
                        <div>
                            <p>
                                Пользователь:
                                {{ comment.author }}
                            </p>
                            <p>
                                {{ comment.datecreation|date:'d M Y' }}
                            </p>
                            <p>
                                {{ comment.text }}
                            </p>
                            <p>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="agree" value="{{ comment.pk }}"/>
                                <input type="submit" value="Принять">
                            </form>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="decline" value="{{ comment.pk }}"/>
                                <input type="submit" value="Отклонить">
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>

{% endblock content %}