{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load i18n %}
{% block title %}
Личный кабинет
{% endblock title %}
{% block content %}
<h1>{% trans 'Личный кабинет' %}: {{ user.username }}</h1>
<div class="container">
    <div>
        <p>{% trans 'Получать новости о нас' %}</p>
        {% if user.about_sub %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="about_unsub" value="{{ user.pk }}"/>
            <input type="submit" value="{% trans 'Отписаться' %}">
        </form>
        {% else %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="about_sub" value="{{ user.pk }}"/>
            <input type="submit" value="{% trans 'Подписаться' %}">
        </form>
        {% endif %}
    </div>
    <div>
        <p>{% trans 'Уведомления об откликах' %}:</p>
        {% if user.users_comments %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="comment_notif_unsub" value="{{ user.pk }}"/>
            <input type="submit" value="{% trans 'Не получать' %}">
        </form>
        {% else %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="comment_notif_sub" value="{{ user.pk }}"/>
            <input type="submit" value="{% trans 'Получать' %}">
        </form>
        {% endif %}
    </div>
    {% if user.is_staff %}
    <div>
        <a href="{% url 'Postman' %}">{% trans 'Новостная рассылка' %}</a>
    </div>
    {% endif %}
</div>
<div>
    <form action="{% url 'Logout' %}" method="post" >
        {% csrf_token %}
        <input type="submit" value="{% trans 'Выход' %}">
    </form>
</div>
<div>
    <p>{% trans 'Новые комментарии' %}</p>
</div>
<div>
    {% for post in posts %}
        {% if post.pk|is_comments_exist %}
        {{ post.title }}
            {% for comment in comments %}
                {% if comment.post == post and not comment.is_confirmed %}
                    <div>
                        <div>
                            <p>
                                {% trans 'Пользователь' %}:
                                {{ comment.author }}
                            </p>
                            <p>
                                {% trans 'Дата' %}:
                                {{ comment.datecreation|date:'d M Y' }}
                            </p>
                            <p>
                                {% trans 'Содержание' %}:
                                {{ comment.text }}
                            </p>
                            <p>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="agree" value="{{ comment.pk }}"/>
                                <input type="submit" value="{% trans 'Принять' %}">
                            </form>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="decline" value="{{ comment.pk }}"/>
                                <input type="submit" value="{% trans 'Отклонить' %}">
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>

{% endblock content %}