{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load embed_video_tags %}
{% block title %}
Объвление
{% endblock title %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <h2>{{ post.datecreation|date:'d M Y' }}</h2>
    {% if post|is_image_exist %}
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for image in post|get_image %}
                    <img style="max-width: 600px" src={{image.file.url}} />
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if post|is_video_exist %}
        <div class="container px-4 px-lg-5 mt-5 justify-content-center">
            <div class="row gx-4 gx-lg-3 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
                {% for vid in post|get_video %}
                    {% video vid.url "640x360" %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <p>{{ post.text }}</p>
    <div class="container px-4 px-lg-5">
        <div class="text-center">
            <h1>
                Комментарии
            </h1>
        </div>
    </div>
    {% if user_verification %}
        <form method="post">
            <div class="container px-4 px-lg-5 mt-5 justify-content-center">
                {% csrf_token %}
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 mt-3 justify-content-center">
                    <textarea name="text" style="height: 200px; width: 600px; outline: 5px black solid"></textarea>
                </div>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 mt-3 justify-content-center">
                    <button type="submit">Отправить</button>
                </div>
            </div>
        </form>
    {% endif %}

    <div class="container px-4 px-lg-5 mt-5 justify-content-center">
        {% for comment in comments %}
            {% if comment.is_confirmed %}
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 mt-3 justify-content-center">
                    <div class="card h-100" style="height: 200px; width: 1000px; outline: 5px black solid;">
                        <p>
                            Пользователь:
                            {{ comment.author }}
                        </p>
                        <p>
                            {{ comment.datecreation }}
                        </p>
                        <p>
                            {{ comment.text }}
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}