{% extends 'flatpages/default.html' %}
{% load i18n %}
{% block title %}
{% trans 'Почтальон' %}
{% endblock title %}
{% block content %}
<h1>{% trans 'Почтальон' %}</h1>
<form>
    {% csrf_token %}
    <div class="container">
        <div>
            <p>{% trans 'Тема' %}:</p>
            <input type="text" name="msg_title_of_post"/>
        </div>
        <div>
            <p>{% trans 'Содержание' %}:</p>
            <input type="text" name="msg_text_of_post"/>
        </div>
        <div>
            <button type="submit">{% trans 'Разослать' %}</button>
        </div>
    </div>
</form>
{% endblock content %}