{% extends 'flatpages/default.html' %}
{% block title %}
Вход
{% endblock title %}
{% block content %}
<h1>Вход</h1>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div>
            <a>Почта</a>
            <div>
                {{ form.username }}
            </div>
        </div>
        <div>
            <a>Пароль</a>
            <div>
                {{ form.password }}
            </div>
        </div>
        <div>
            <button type="submit">Подтвердить</button>
        </div>
    </div>
</form>
<div>
    <p>Еще нет аккаунта?</p>
    <a class="button" href="{% url 'SignUp' %}">Войти</a>
</div>
{% endblock content %}