{% extends 'flatpages/default.html' %}
{% block title %}
Регистрация
{% endblock title %}
{% block content %}
<h1>Регистрация</h1>
<form method="post">
    {% csrf_token %}
    <div class="container">
        <div>
            <p>Почта:</p>
            <input type="email" name="email" placeholder="Почта" required>
        </div>
        <div>
            <p>Имя пользователя:</p>
            <input type="text" name="username" placeholder="Имя пользователя" required>
        </div>
        <div>
            <p>Пароль:</p>
            <input type="password" name="password1" placeholder="Пароль" required>
        </div>
        <div>
            <p>Повторный пароль:</p>
            <input type="password" name="password2" placeholder="Подтверждение пароля" required>
        </div>
        <div>
            <p>Новостная подписка:</p>
            <input type="checkbox" name="about_sub" checked>
        </div>
        <div>
            <button type="submit">Создать аккаунт</button>
        </div>
    </div>
</form>
<div>
    <p>Уже есть аккаунт?</p>
    <a class="button" href="{% url 'login' %}">Войти</a>
</div>
{% endblock content %}