{% extends 'flatpages/default.html' %}
{% load i18n %}
{% block title %}
{% trans 'Регистрация' %}
{% endblock title %}
{% block content %}
<h1>{% trans 'Регистрация' %}</h1>
<form method="post">
    {% csrf_token %}
    <div class="container">
        <div>
            <p>{% trans 'Почта' %}:</p>
            <input type="email" name="email" placeholder="{% trans 'Почта' %}" required>
        </div>
        <div>
            <p>{% trans 'Имя пользователя' %}:</p>
            <input type="text" name="username" placeholder="{% trans 'Имя пользователя' %}" required>
        </div>
        <div>
            <p>{% trans 'Пароль' %}:</p>
            <input type="password" name="password1" placeholder="{% trans 'Пароль' %}" required>
        </div>
        <div>
            <p>{% trans 'Повторный пароль' %}:</p>
            <input type="password" name="password2" placeholder="{% trans 'Подтверждение пароля' %}" required>
        </div>
        <div>
            <p>{% trans 'Новостная подписка' %}:</p>
            <input type="checkbox" name="about_sub" checked>
        </div>
        <div>
            <button type="submit">{% trans 'Создать аккаунт' %}</button>
        </div>
    </div>
</form>
<div>
    <p>{% trans 'Уже есть аккаунт?' %}</p>
    <a class="button" href="{% url 'login' %}">{% trans 'Войти' %}</a>
</div>
{% endblock content %}